extends ../layout

block vars
  - var title = 'Login'

block body
  .text-center
    h1 Yuliya's Project Manager
    p.lead Log in to continue
    p Don't have account? Sorry, can't let you in. 
      br
      | How did you get here anyway? 
      br
      | Go back to 
      a(href="/") my site!
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-success.auth-form
        .panel-heading Log in to your account
        .panel-body
          form(method="post")
            .form-group
              label.control-label Email:
              input.form-control.input-lg(type="text" name="email" required)

            .form-group
              label.control-label Password:
              input.form-control.input-lg(type="password" name="password" required)

            button.btn.btn-primary.btn-block.btn-lg(type="submit") Log in
