extends ../layout

block vars
  - var title = 'Sign up'

block body
  .text-center
    h1 Yuliya's Project Manager
    p.lead Create a new account and log in.
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-success.auth-form
        .panel-heading Create a new account and log in
        .panel-body
          form(method="post")
            .form-group
              label.control-label Name:
              input.form-control.input-lg(type="text" name="name")

            .form-group
              label.control-label Email:
              input.form-control.input-lg(type="text" name="email" required)

            .form-group
              label.control-label Password:
              input.form-control.input-lg(type="password" name="password" required)

            button.btn.btn-primary.btn-block.btn-lg(type="submit") Signup
