.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  margin-bottom: 50px;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0; 
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; 
}

.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; 
}

/* Bootstrap overwrite */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.project-thumbnail {
  max-width: 150px;
  max-height: 150px;
}
