h3.section-title About me
.row.spacer
  .col-md-5
    .about-me-photo
      img.img-responsive(src='static/img/about-me/yulkin-hoodie.png')
      h4.about-me-title
  .col-md-7
    .about-me-description
      p I've been working with web and mobile applications for over 5 years now. I've dabbled in everything from coding to QA engineering, but I've found my true passion to be design. Seeing ideas come to life while allowing me to express myself in a creative fashion and making sure my customers' needs are covered gives me a real satisfaction and sense of accomplishment.
      p I love to travel and experience new things, and I use this as inspiration in my day to day work. I pay a lot of attention to the smallest of details, but never lose focus of the big picture.
      p Working with me, I'll make sure that you feel listened to and understood, and I'll use my personal magic to achieve our common aim of seeing you and your brand being elegantly and creatively represented online and elsewhere.
      p Feel free to drop me a message below and let's bring our vision to life.