h3.section-title Get in touch

//- form.form-message-sender(method="post" enctype="application/x-www-form-urlencoded ")
  .row
    .col-md-4.spacer
      input.form-control(type="text" name="name" placeholder="Your Name")
    |     
    .col-md-4.spacer
      input.form-control(type="email" name="email" placeholder="Your Email" required)
    |     
    .col-md-4.spacer
      input.form-control(type='text' name="subject" placeholder='Subject')

  textarea.form-control.spacer(rows="5" name="message" placeholder="Your Message" required)

  .text-center
    button.btn.btn-default.btn-lg(type='submit') Send Message

.contact-form-details
  .text-center
    h4.contact-form-subtitle Contact details
  .row
    .col-md-4
      a.contact-details-info(href='https://dribbble.com/yuliya_matyashevska')
        img(src='static/img/contact/dribbble-icon.png')
        h5.contact-details-info-title Dribbble
        p.contact-details-info-link Yuliya Matyashevska
    .col-md-4
      a.contact-details-info(href='mailto:julia.matyashevska@gmail.com')
        img(src='static/img/contact/mail-icon.png')
        h5.contact-details-info-title Email
        p.contact-details-info-link julia.matyashevska@gmail.com
    .col-md-4
      a.contact-details-info(href='skype:julietka_m')
        img(src='static/img/contact/skype-icon.png')
        h5.contact-details-info-title Skype
        p.contact-details-info-link julietka_m