h3.section-title.alt Design approach
.row
  .col-md-3.col-xs-6
    .design-approach-step
      .design-approach-step-icon
        img(src='static/img/design-approach/idea-icon.png')
      h4.design-approach-step-title Idea
      p.design-approach-step-description
        | The spark that 
        br
        | starts it all.
  .col-md-3.col-xs-6
    .design-approach-step
      .design-approach-step-icon
        img(src='static/img/design-approach/concept-icon.png')
      h4.design-approach-step-title Concept
      p.design-approach-step-description
        | Projecting ideas  
        br
        | into reality.
  .col-md-3.col-xs-6
    .design-approach-step
      .design-approach-step-icon
        img(src='static/img/design-approach/design-icon.png')
      h4.design-approach-step-title Design
      p.design-approach-step-description
        | This is where 
        br
        | the magic happens.
  .col-md-3.col-xs-6
    .design-approach-step
      .design-approach-step-icon
        img(src='static/img/design-approach/action-icon.png')
      h4.design-approach-step-title Action
      p.design-approach-step-description
        | Finally, everything 
        br
        | comes to life.