#scrollToTop
h3.section-title My work
.row
  each project in projects
    .col-md-4.spacer
      .my-works-project(data-toggle="modal" data-target="#myWorksModal" data-title="#{project.name}" data-source="#{project.path}")
        img.img-responsive(src="#{project.thumbnail.path}")
        .my-works-project-info 
          h4.my-works-project-title #{project.name}
          .my-works-project-description #{project.category}