#myWorksModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
  .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          .project-title.pull-left
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          img.img-responsive(src='')
