extends layout

block body
  include ./_intro-words

  #stickyHeaderTrigger

  #myWork.my-works
    .container
      include ./_my-works

  .design-approach
    .container
      include ./_design-approach

  #aboutMe.about-me
    .container
      include ./_about-me

  #contactMe.contact-form
    .container
      include ./_contact-form

  include ./_my-works-modal

  .scroller.hidden
    span.glyphicon.glyphicon-chevron-up
