block vars

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel='icon', type='image/ico', href='favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/public-site/main.css')
    title Yuliya Matyashevska - Web Designer
  body
    header
      .container
        .header-logo
          h1.header-logo-text
            a(href='/')
              | Yuliya Matyashevska 
              br
              |             
              small UI/UX Designer

        nav.header-nav
            ul
              li
                a.header-nav-link(data-target='myWork', href='#myWork')
                  i.header-nav-icon.work
                  | Work
              li
                a.header-nav-link(data-target='aboutMe', href='#aboutMe')
                  i.header-nav-icon.about
                  | About
              li
                a.header-nav-link(data-target='contactMe', href='#contactMe')
                  i.header-nav-icon.contact
                  | Contact

    block body

    footer
      .container
        .row
          .col-md-6.col-xs-6
            | &copy; Copyright 
            span#currentYear
            |  Yuliya Matyashevska
          .col-md-6.col-xs-6
            .text-right
              ul.list-inline.list-unstyled
                li
                  a.footer-social-link(href="https://ua.linkedin.com/in/yuliya-matyashevska-72075529") LinkedIn
                li 
                  a.footer-social-link(href="https://www.facebook.com/Yuliya-Matyashevska-939852349433190") FaceBook
                li
                  a.footer-social-link(href="https://twitter.com/YulaMatashevska?lang=uk") Twitter
                  

    script(src="/static/lib/jquery-2.1.4.min.js")
    script(src="/static/lib/bootstrap/js/bootstrap.min.js")
    script(src="/static/lib/jquery.waypoints.min.js")
    script(src="/static/js/public-site/main.js")
