        .col-md-4
          .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project1-full.jpg')
            img.img-responsive(src='static/img/my-works/project1.jpg')
            |             
            .my-works-project-info
              h4.my-works-project-title Beauty Salon
              |               
              .my-works-project-description Web Design
        .col-md-4
            .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project2-full.jpg')
              img.img-responsive(src='static/img/my-works/project2.jpg')
              .my-works-project-info
                h4.my-works-project-title Sweet-Shop
                .my-works-project-description Web Design
        .col-md-4
            .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project3-full.jpg')
              img.img-responsive(src='static/img/my-works/project3.jpg')
              |             
              .my-works-project-info
                h4.my-works-project-title Wedding Photographer
                .my-works-project-description Web Design

      .row.spacer
        .col-md-4
          .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project4-full.jpg')
            img.img-responsive(src='static/img/my-works/project4.jpg')
            .my-works-project-info
              h4.my-works-project-title
                | East European 
                br
                |  Kosher Certification
              .my-works-project-description Web Design, Mobile
        .col-md-4
          .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project5-full.jpg')
            img.img-responsive(src='static/img/my-works/project5.jpg')
            .my-works-project-info
              h4.my-works-project-title China Logistics Company
              .my-works-project-description Web Design
        .col-md-4
            .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project6-full.jpg')
              img.img-responsive(src='static/img/my-works/project6.jpg')
              .my-works-project-info
                h4.my-works-project-title Artist Portfolio
                .my-works-project-description Web Design

      .row.spacer
        .col-md-4
          .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project7-full.jpg')
            img.img-responsive(src='static/img/my-works/project7.jpg')
            .my-works-project-info
              h4.my-works-project-title Eyeglasses Store
              .my-works-project-description Web Design
        .col-md-4
          .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project8-full.jpg')
            img.img-responsive(src='static/img/my-works/project8.jpg')
            .my-works-project-info
              h4.my-works-project-title Window Company
              .my-works-project-description Web Design
        .col-md-4
          .my-works-project(data-toggle='modal', data-target='#myWorksModal', data-source='project9-full.jpg')
            img.img-responsive(src='static/img/my-works/project9.jpg')
            .my-works-project-info
              h4.my-works-project-title The Rhinoplasty Clinic
              .my-works-project-description Web Design