/* Webfont: Fjalla One */@font-face {
    font-family: 'Fjalla One';
    src: url('../../fonts/fjalla/FjallaOne-Regular.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'Fjalla One', sans-serif;
}

.spacer {
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 60px;
  color: #ff7e70;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
.section-title.alt {
  color: #fff2f2;
}

.scroller {
  display: none;
}

@media (min-width: 758px) {
  .scroller {
    float: right;
    padding: 5px 10px;
    color: #ff7e70;
    font-size: 20px;
    text-align: right;
    background: #71625d;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
}

header {
  height: 60px;
  margin-bottom: -120px;
  color: #fff1f1;
  background-color: rgba(255, 126, 112, 0.75);
  position: relative;
  z-index: 999;
}

@media (min-width: 768px) {
  header {
    height: 120px;
  }
}

.header-logo {
  display: none;
  height: 100px;
  padding-left: 80px;
  background: url(../../img/header-logo.png) no-repeat left; 
}

.header-logo-text {
  float: right;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header-logo {
    display: inline-block;
  }
}

.header-logo-text a {
  color: #fff1f1;
}
.header-logo-text a:hover, .header-logo-text a:focus {
  text-decoration: none;
}

.header-logo-text small {
  color: #fff1f1;
}

.header-nav {
  float: right;
  margin-top: 15px;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav ul li {
  display: inline-block;
  margin: 0 30px;
}

.header-nav-link {
  display: inline-block;
  color: #fff1f1;
  font-size: 20px;
  text-transform: lowercase;
  text-align: center;
}
.header-nav-link:hover {
  color: #fff1f1;
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .header-nav-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-nav-icon.work {
    background-image: url(../../img/nav-icon-work.png);
  }
  .header-nav-icon.about {
    background-image: url(../../img/nav-icon-about.png);
  }
  .header-nav-icon.contact {
    background-image: url(../../img/nav-icon-contact.png);
  }
}

header.stuck {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 126, 112, 1);
}

header.stuck .header-logo {
  padding: 0;
  background: none;
}

header.stuck .header-logo-text {
  font-size: 30px;
}

header.stuck small {
  display: none;
}

header.stuck .header-nav {
  margin-top: 24px;
}

header.stuck .header-nav-icon {
  display: none;
}

.intro-words-text h2 {
  margin: 180px 20px 0 0;
  text-align: right;
  font-size: 22px;
}

@media (min-width: 768px) {
  .intro-words {
    height: 1114px;
    color: #fff1f1;
    background: url(../../img/yulkin-cute.jpg) no-repeat center;
    position: relative;
  }

  .intro-words-text {
    width: 1260px;
    height: 491px;
    background: url(../../img/intro-words-brush-bg.png) no-repeat center;
    position: absolute;
    right: 0;
    bottom: 100px;
  }

  .intro-words-text h2 {
    float: left;
    margin: 50px 0 0 200px;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    line-height: 85px;
  }
}

.my-works {
  padding: 50px 0;
}

.my-works-project {
  border: 8px solid rgba(210, 193, 186, 1);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.my-works-project:hover {
  border-color: #ff7e70;
}

.my-works-project .img-responsive {
  width: 100%;
  max-height: 344px;
}

.my-works-project-info {
  display: none;
  height: 150px;
  padding-top: 20px;
  color: #fff1f1;
  text-align: center;
  background-color: #ff7e70;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.my-works-project:hover .my-works-project-info {
  display: block;
}

.my-works-project-title {
  font-size: 24px;
}

.my-works-project-description {
  font-size: 18px;
}

.design-approach {
  padding: 50px 0;
  color: #fff2f2;
  background: #d23234;
}

.design-approach-step {
  text-align: center;
}

.design-approach-step-icon {
  display: inline-block;
  margin-bottom: 25px;
  padding: 17px;
  border-radius: 50%;
  background: #fff2f2;
}

.design-approach-step-title {
  margin-bottom: 25px;
  color: #ff7e70;
  font-size: 30px;
  text-transform: uppercase;
}

.design-approach-step-description {
  font-size: 24px;
}

.about-me {
  padding-top: 50px;
  padding-bottom: 230px;
  background: url(../../img/about-me/bottom-bg.png) no-repeat center 93%;
}

.about-me-description {
  font-family: Georgia, serif;
  font-size: 21px;
  font-style: italic;
  color: #d23234;
}

.about-me-description p {
  margin-bottom: 20px;
  text-indent: 50px;
  text-align: justify;;
}

.contact-form {
  padding: 50px 0;
  color: #fff2f2;
  padding-bottom: 100px;
  background-color: #303030;
}

@media (min-width: 768px) {
  .contact-form {
    background: url(../../img/contact/bg.jpg) no-repeat top;
  }
}

.form-message-sender {
  padding: 0 0 50px;
}

.contact-form .form-control {
  height: 42px;
  padding: 10px 12px;
  border-radius: 0;
  border-color: #fff2f2;
  color: #ff7e70;
  background-color: transparent;
}
.contact-form .form-control:focus {
  border-color: #ff7e70;  
}

.contact-form textarea.form-control {
  height: auto;
}

.contact-form .btn-default {
  padding: 14px 30px;
  border-radius: 0;
  border-color: #fff2f2;
  color: #fff2f2;
  background-color: transparent; 
}
.contact-form .btn-default:hover {
  color: #ff7e70;
  border-color: #ff7e70;
}

.contact-details-info {
  display: block;
  text-align: center;
}
.contact-details-info:hover {
  text-decoration: none;
}

.contact-form-subtitle {
  display: inline-block;
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  font-size: 30px;
  color: #fff2f2;
  text-transform: uppercase;
}

 .contact-details-info-title {
  margin: 20px 0 10px;
  color: #ff7e70;
  font-size: 24px;
  text-transform: uppercase;
 }

 .contact-details-info-link {
  font-size: 20px;
  color: #fff2f2;
 }
.contact-details-info-link:hover {
  color: #fff2f2;
}

footer {
  height: 55px;
  margin-top: -55px;
  padding: 20px 0;
  color: #fff2f2;
  font-size: 12px;
  background-color: rgba(255, 126, 112, 0.7);
}

.footer-social-link,
.footer-social-link:hover {
  color: #fff;
}
