extends ../layout

block vars
  - var title = 'Dashboard'

block body
  h1 Add project
  p Upload the project image and thumbnail and write a few words about it.

  if error
    p ERROR: #{error}

  form(method="post" enctype='multipart/form-data')
    .form-group
      label.control-label Project name:
      input.form-control(type="text" name="name" required)

    .form-group
      label.control-label Category:
      input.form-control(type="text" name="category" required)
      p.help-block Could be: web design, mobile app, etc

    .form-group
      label.control-label Project description:
      textarea.form-control(rows="5" name="description")

    .form-group
      label.control-label Upload image:
      input(type="file" name="upload" accept="image/*" required)
      p.help-block Choose an image that's not bigger than 8 MB

    .form-group
      label.control-label Upload thumbnail:
      input(type="file" name="upload" accept="image/*" required)
      p.help-block Choose an image that's 370 x 370 pixels

    button.btn.btn-primary(type="submit") Create new project