extends ../layout

block vars
  -var title = 'Projects list'

block body
  h1 Projects list  
  if !!projects.length
    .pull-right
      a.btn.btn-default(href="/project-manager/projects-add") #[span.glyphicon.glyphicon-plus] Add new
    p Here are your projects:
    table.table
      thead
        tr
          th Thumbnail
          th Name
          th Category
          th Date Added
          th Actions
      tbody
        for project in projects
          tr.project-container
            td
              a(href="./projects/#{project._id}")
                img.project-thumbnail(src="#{project.thumbnail.path}")
            td #{project.name}
            td #{project.category}
            td #{moment(project.addedOn).format('Do MMM YYYY')}
            td
              a.btn.btn-primary(href="./projects/#{project._id}") Edit
              button.btn.btn-danger.btn-delete-project(type="button" data-projectId="#{project._id}") Delete
  else
    p No projects added yet.
    a.btn.btn-default(href="/project-manager/projects-add") Go add one!