extends ../layout

block vars
  -var title = project.name

block body
  h1 Edit project
  form(method="post" enctype='multipart/form-data')
    .row
      .col-md-3
        .form-group
          label.control-label Project name
          input#project-name.form-control(type="text" name="name" value="#{project.name}")

        .form-group
          label.control-label Category
          input#project-category.form-control(type="text" name="category" value="#{project.category}")

        .form-group
          label.control-label Description
          textarea#project-description.form-control(rows="3" name="description") #{project.description}

        div  
          strong Added on:
          span #{moment(project.addedOn).format('Do MMMM YYYY [at] HH:mm')}
        div
          strong Project ID: 
          span#project-id #{project._id}
        div  
          strong Image file name: 
          span #{project.fileName}
        
        div
          strong Image size: 
          span= filesize(project.size)

        .thumbnail
          img.img-responsive(src="#{project.thumbnail.path}")
        div  
          strong Thumbnail file name: 
          span #{project.thumbnail.fileName}
        div
          strong Thumbnail size: 
          span= filesize(project.thumbnail.size)

        button.btn.btn-primary.btn-block.btn-update-project Update 
      .col-md-9
        a(href="#{project.path}" title="Clicking the image will open it in a new tab" target="_blank")
          img.img-responsive(src="#{project.path}")