block vars

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title #{title} - Project Manager
    link(rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/static/css/project-manager/main.css")
  body
    if user
      nav.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-main', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/project-manager') Project Manager
          #navbar-collapse-main.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href="/project-manager/projects-list") Projects list
              li
                a(href="/project-manager/projects-add") Add project
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/" target="_blank") Visit site
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Options
                  span.caret
                ul.dropdown-menu.dropdown-menu-right
                  li.dropdown-header Logged in as #{user.email}
                  li.divider
                  li
                    a(href="/project-manager/logout") Log out

    .container
      block body

    script(src="/static/lib/jquery-2.1.4.min.js")
    script(src="/static/lib/bootstrap/js/bootstrap.min.js")
    script(src="/static/js/project-manager/main.js")
